th.custom-checkbox-class {
	width:25px;
}

th.custom-id-class {
	width:70px;
}

th.custom-settlement-class {
	width:130px;
	min-width:100px;
}

th.custom-expense_type-class {
	width:150px;
	min-width:100px;
}

th.custom-target_date-class {
	width:90px;
}

th.custom-street_type-class {
	width:60px;
}

th.custom-amount-class, th.custom-active-class, th.custom-house-class {
	width:50px;
}

.panel-heading {
	font-size: 18px;
}

span.table-pager {
	margin-top: 10px;
}

.stat-pager {
	margin-top: 0;
	margin-bottom: 0;
}

/* Уведомления. Заголовок */
.alert > [data-notify="title"] {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}
.alert, [data-notify="container"] {
	padding: 5px;
	font-size: 90%;
}

/* Логотип и главном меню */
div.navbar-header a.navbar-brand {
	padding: 5px;
}
div.navbar-header a.navbar-brand img {
	height: 40px;
}

/* Таблица конденсированная */
table.table-condensed {
	font-size: 12px;
}